/****************************** DOCUMENT ******************************/

html {
    margin: 0;
    height: 100%;
}

body {
    background-color: #cfcfcf;
    height: 100%;
    margin: 0;
    padding: 0;
}

/****************************** GRID ******************************/

#gridwrapper {
    display: -ms-grid;
    display: grid;
         -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
       grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
}

/****************************** TITLE ******************************/

#menu {
    position: fixed;
    -ms-grid-row: 1;
    grid-row: 1;
    background-color: #1e1e1e;
    min-height: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 27%;
    padding: 0;
    margin: 0 auto;
    left: 33.3%;
    transition: ease 1s;
}

#title {
    width: 100%;
    height: auto;
    max-height: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 26pt;
    color: white;
}

#title h1 {
    width: 84%;
    margin: 9% auto;
}

#title p {
    width: 84%;
    margin: 20px auto;
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
}

#status {
    position: absolute;
    width: 100%;
    height: fit-content;
    -ms-grid-column: 1;
        grid-column: 1;
    bottom: 0;
    padding: 20px 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 13pt;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #30310f;
    color: white;
    transition: ease 0.7s;
}

/****************************** INPUT ******************************/

#input {
    position: absolute;
    bottom: 20%;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    -ms-grid-column: 1;
    grid-column: 1;
    border-radius: 5px;
}

#buttons {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    bottom: 0;
    margin: 5% auto 10% auto;
    border: 0;
    font-family: inherit;
}

.button {
    display: block;
    width: 300px;
    margin: 5% auto;
    border-radius: 9px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 19px;
    background: #b23000;
    padding: 22px 45px;
    text-decoration: none;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    border: none;
}

.optional {
    background: #ba7f04;
}

.button:hover {
    background: #ffc7b2;
    color: black;
    text-decoration: none;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    cursor: pointer;
    box-shadow: #723000 0 3px 5px 2px;
}


.button:focus, button:focus {
    outline: 0;
}

.optional:hover {
    background: #ead8b3;
    color: black;
}

.input {
    position: absolute;
    width: 100%;
    height: fit-content;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

#featureWrapper {
    margin: 50px auto;
}

#features {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    padding: 20px;
    margin: auto;
    list-style-type: none;
}

#features li {
    padding: 8px;
    margin:  5px 20px;
}

.feat {
    width: 20px;
    height: 20px;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

#scienceToggle {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    top: 0;
    right: 0;
    margin: 20px;
    background-color: #8f8f8f;
}

#scienceToggle:hover {
    background-color: white;
    color: black;
    box-shadow: gray 0 3px 5px 2px;
}


#start {
    margin-top: 50%;
}

.success {
    background-color: #004000;
    color: white;
}

#saveTarget .success:hover {
    background-color: #004000;
    color: white;
}

#centerNav {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

#back {
    width: fit-content;
    padding: 0 15px 0 0;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin: 8px;
    transition: 0.6s ease;
    color: #660100;
    font-weight: bold;
}

#backimg {
    width: 20px;
    height: 38px;
    max-width: 58px;
    max-height: 58px;
    margin: 15px;
    transition: 0.6s ease;
}

#back:hover {
    filter: brightness(150%);
    cursor: pointer;
    background-color: #363636;
    color: white;
    box-shadow: #696969 0 3px 5px 2px;
}

#cancel {
    width: fit-content;
    padding: 0 0 0 15px;
    margin: 8px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    transition: 0.6s ease;
    color: #330e00 ;
    font-weight: bold;
}

#cancelimg {
    width: 38px;
    height: 38px;
    max-width: 58px;
    max-height: 58px;
    margin: 15px;
    transition: 0.6s ease;
}

#cancel:hover {
    filter: brightness(150%);
    cursor: pointer;
    background-color: #363636 ;
    color: white;
}

/****************************** PATIENT INFO FORM ******************************/

#patientInfoForm {
    height: 100%;
    width: 100%;
    margin: auto;
}

#patientInfoForm form {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#patientInfoForm div {
    display: block;
}

#patientInfoForm label {
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 8px;
    text-align: right;
    width: 200px;
}

#patientInfoForm input, select {
    right: 0;
    min-width: 110px;
    height: auto;
    display: inline-block;
    margin: 8px;
}

#patientInfoForm input {
    width: 110px;
}

#saveTarget:hover {
    background: #ffc7b2;
    color: black;
    text-decoration: none;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    cursor: pointer;
}

#patientInfoForm .hidden {
    display: none;
}

.emptyForm {
    border: red 2px solid;
}

#caseinfo {
    background: #EFEFFF;
}

#bloodinfo {
    background: #FFEFEF;
}

#wearinfo {
    background: #ffffef;
}

#angleinfo {
    background: #EFFFEF;
}

/****************************** CENTER CONTENT ******************************/

#centercontent {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    height: fit-content;
    min-height: 100%;
    position: relative;
    left: -6.33%;
    box-shadow: gray 3px 1px 3px;
    background-color: white;
}

#data {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    background-color: white;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.dataframe {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
}

.dataframe thead tr th {
    text-align: center;
    margin: 50px;
    border: none;
}

.dataframe tbody tr td, th {
    padding: 10px;
}

#data thead th, td {
    padding: 3px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

#resultheader {
    width: 70%;
    height: auto;
    margin: 7% auto 1% 7%;
}

#p {
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
}

#prediction {
    font-size: 20pt;
    color: #b23000;
    font-weight: bold;
    text-align: center;
}

#loadinggif {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 50%;
    transform: translatey(-50%);
}

#results_table {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    margin: 20px auto 30px auto;
}

#results_table td {
    padding: 8px 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

#savestatus, #success, #fname {
    display:none
}

/****************************** R2 SCORE ******************************/

#r2button {
    width: 100px;
    padding: 8px;
    margin: 27px 0;
    border-radius: 9px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 16px;
    background: #b23000;
    border: none;
    text-decoration: none;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translateX(50%);
}

#r2button:hover {
    color: black;
    background: #ffc7b2;
    cursor: pointer;
}

#r2info {
    position: absolute;
    top: 80px;
    right: 50%;
    z-index: 10;
    padding: 20px;
    width: 150px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    font-size: 1.2em;
    -webkit-box-shadow: 0 4px 6px 1px #b23000;
            box-shadow: 0 4px 6px 1px #b23000;
    transform: translateX(50%);
}

/****************************** GRAPH IMAGES ******************************/

#graphs {
    margin: 0 3px;
    font-family: 'Roboto', sans-serif;
}

#graphFiller h1 {
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    margin: 25px auto;
}

.graphImage {
    width: 90%;
    height: 90%;
    margin: 20px auto;
    display: block;
}

/****************************** PATIENT INFO BOX ******************************/

#patInfoDisplayButton {
    width: 200px;
    background-color: #b23000;
    color: white;
    text-align: center;
    padding: 10px 4px;
    border-radius: 0 8px 8px 0;
    box-shadow: grey 3px 3px 3px;
    transition: 0.7s ease;
    font-size: 14pt;
}

#patInfoDisplayButton:hover {
    background-color: #ffc7b2 !important;
    color: black;
    transition: 0.7s ease;
    cursor: pointer;
}

#patInfoDisplay {
    font-family: Roboto, sans-serif;
    position: absolute;
    top: 12px;
    right: 0;
    width: 45.9%;
    height: fit-content;
    transform: translateX(99.99%);
}

#patInfoSheet {
    border-collapse: collapse;
    background-color: #ffe9d8;
    margin: 20px 0;
    padding: 15px 0;
    box-shadow: grey 3px 3px 3px;
}

#patInfoSheet p {
    text-align: center;
    font-weight: bold;
    color: #b23000;
}

.buttonClicked {
    background-color: #ff7e1a !important;
    color: black;
}

.patinfodesc {
    height: fit-content;
    width: 70%;
    text-align: right;
    padding: 1% 0;
}

.patinfoval {
    height: fit-content;
    width: 30%;
    text-align: center;
    padding: 1% 0;
}

#patInfoSheet tr:not(:last-child) {
    border-bottom: 2px solid #ffe1cb;
}

#patInfoSheet tr, #patInfoSheet td {
    background-color: #fff4ed;
}

#help {
    display: none;
}

