/****************************** DOCUMENT ******************************/

html {
    margin: 0;
    height: 100%;
}

body {
    background-color: #cfcfcf;
    height: 100%;
    margin: 0;
    padding: 0;
}

/****************************** GRID ******************************/

#gridwrapper {
    display: -ms-grid;
    display: grid;
         -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
}

/****************************** TITLE ******************************/

#menu {
    position: fixed;
    -ms-grid-row: 1;
    grid-row: 1;
    background-color: #1e1e1e;
    min-height: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 33.3%;
    padding: 0;
    margin: 0;
}

#title {
    width: 100%;
    height: auto;
    max-height: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 26pt;
    color: white;
}

#title h1 {
    width: 84%;
    margin: 40px auto;
}

#title p {
    width: 84%;
    margin: 20px auto;
    font-size: 16pt;
    font-family: 'Roboto Condensed', sans-serif;
}

#status {
    position: absolute;
    width: fit-content;
    height: fit-content;
    -ms-grid-column: 1;
        grid-column: 1;
    padding: 10px;
    bottom: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 13pt;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #ffc45f;
}

/****************************** INPUT ******************************/

#input {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    -ms-grid-column: 1;
    grid-column: 1;
    border-radius: 5px;
}

#buttons {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    bottom: 0;
    margin: 5% auto 10% auto;
    border: 0;
    font-family: inherit;
}

.button {
    display: block;
    width: 200px;
    margin: 30px auto;
    border-radius: 9px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 16px;
    background: #b23000;
    padding: 10px 22px;
    text-decoration: none;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    border: none;
}

.button:hover {
    background: #ffc7b2;
    color: black;
    text-decoration: none;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    cursor: pointer;
}

.button:focus, button:focus {
    outline: 0;
}

#features {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    padding: 20px;
    margin: auto;
    list-style-type: none;
}

#features li {
    padding: 8px;
    margin:  5px 20px;
}

.feat {
    width: 20px;
    height: 20px;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

/****************************** RESULTS ******************************/

#results {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#data {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    background-color: white;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.dataframe {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
}

.dataframe thead tr th {
    text-align: center;
    margin: 50px;
    border: none;
}

.dataframe tbody tr td, th {
    padding: 10px;
}

#data thead th, td {
    padding: 3px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

#resultheader {
    width: 70%;
    height: auto;
    margin: 25px;
}

#data p {
    width: auto;
    height: auto;
    margin: 25px;
}

#loadinggif {
    display: block;
    width: 100%;
    height: 35%;
    margin: 60px auto;
}

#results_table {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    margin: auto;
}

#results_table td {
    padding: 8px 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

#savestatus, #success, #fname {
    display:none
}

/****************************** R2 SCORE ******************************/

#r2button {
    width: 100px;
    padding: 8px;
    margin: 0;
    border-radius: 9px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 16px;
    background: #b23000;
    border: none;
    text-decoration: none;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    top: 25px;
    right: 25px;
    position: absolute;
}

#r2button:hover {
    color: black;
    background: #ffc7b2;
    cursor: pointer;
}

#r2info {
    position: absolute;
    top: 80px;
    right: 25px;
    z-index: 10;
    padding: 20px;
    width: 150px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    font-size: 1.2em;
    -webkit-box-shadow: 0 4px 6px 1px #b23000;
            box-shadow: 0 4px 6px 1px #b23000;;
}

/****************************** GRAPH IMAGES ******************************/

#graphs {
    -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    min-height: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 5px #1e1e1e;
    margin: 0 3px;
    font-family: 'Roboto', sans-serif;
}

#graphs h1 {
    margin: 25px;
}

.graphImage {
    width: 90%;
    height: auto;
    margin: 0 auto 5% auto;
}