<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mastern</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
        <link rel="icon" href="../static/img/arthroplasty.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="../static/script/display.js"></script>
    </head>
    <body>
        <div id="gridwrapper">
            <div id='menu'>
                <section id="title">
                    <h1>Predict implant longevity</h1>
                    <p>This is a system designed to provide predictions on the longevity of a hip arthroplasty implant.
                        The system uses machine learning techniques based on previous patient data to predict how many
                        years a given patient will be able to live with their hip implant before corrective surgery.</p>
                </section>

                <div id="status">Website is loading (probably)</div>

                <section id="input">
                    <button type="button" id="start" class="button"> Start </button>
                </section>
            </div>

            <section id="centercontent">
                <section id="data">
                    <h1 id="resultheader"></h1>

                    <section>
                        <button id="r2button"> R2 score </button>
                        <div id="r2info"> You shouldn't be able to see this. </div>
                    </section>

                    <section class="input">
                        <button type="button" id="featurebtn" class="button optional"> Select features (optional) </button>
                        <button id="addtarget" class="button"> Enter patient information </button>
                        <button type="button" id="dt" class="button disabled"> Predict longevity </button>
                    </section>
                    <img src="../static/img/load.gif" id="loadinggif" title="Loading"/>

                    <table id="results_table"></table>

                    <section id="patientInfoForm">
                        <form action="/updatetarget">
                            <div>
                                <label for="case"> Case </label>
                                <select id="case" name="target" class="patInfo">
                                    <option value="0"> Implant still there </option>
                                    <option value="1"> Implant removed </option>
                                </select>
                            </div>

                            <div>
                                <label for="cuploose"> cupLoose </label>
                                <select id="cuploose" name="target" class="patInfo">
                                    <option value="0"> No </option>
                                    <option value="1"> Yes </option>
                                </select>
                            </div>

                            <div>
                            <label for="stemloose"> stemLoose </label>
                                <select id="stemloose" name="target" class="patInfo">
                                    <option value="0"> No </option>
                                    <option value="1"> Yes </option>
                                </select>
                            </div>

                            <div>
                                <label for="sex"> Sex / Gender </label>
                                <select id="sex" name="target" class="patInfo">
                                    <option value="0"> Undefined </option>
                                    <option value="1"> Male </option>
                                    <option value="2"> Female </option>
                                </select>
                            </div>

                            <div>
                                <label for="cr"> Cr </label>
                                <input id="cr" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <label for="co"> Co </label>
                                <input id="co" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <label for="zr"> Zr </label>
                                <input id="zr" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <label for="ni"> Ni </label>
                                <input id="ni" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <label for="mb"> Mb </label>
                                <input id="mb" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <label for="linwear"> Linear wear </label>
                                <input id="linwear" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <label for="linwearrate"> Linear wear rate </label>
                                <input id="linwearrate" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <label for="volwear"> Volume wear </label>
                                <input id="volwear" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <label for="volwearrate"> Volume wear rate </label>
                                <input id="volwearrate" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <label for="inc"> Inclination </label>
                                <input id="inc" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <label for="ant"> Ant </label>
                                <input id="ant" type="number" step="0.01" name="target" class="patInfo">
                            </div>

                            <div>
                                <button type="button" id="saveTarget" class="button"> Save patient information </button>
                            </div>
                        </form>
                    </section>

                    <p id="best"></p>
                    <p id="worst"></p>
                    <p id="mean"></p>

                    <p id="savestatus"></p>
                    <p id="resultcontext"></p>

                    <section>
                        <ul id="features" class="feature"></ul>
                        <button type="button" id="saveFeatures" class="button feature"> Save </button>
                    </section>
                </section>

                <section id="graphFiller">
                    <h1>Graphs</h1>
                    <div id="graphs"></div>
                </section>
            </section>

            <form action="/science">
                <button id="scienceToggle" name="science">Science</button>
            </form>
        </div>
    </body>
</html>