<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mastern</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
        <link rel="icon" href="../static/img/arthroplasty.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="../static/script/display.js"></script>
    </head>
    <body>
        <section id="gridwrapper">
            <section id='menu'>
                <div id="menuHelp"  class="help">

                </div>
                <section id="title">
                    <h1>Predict implant longevity</h1>
                    <p>This is a system designed to provide predictions on the longevity of a hip arthroplasty implant.
                        The system uses machine learning techniques based on previous patient data to predict how many
                        years a given patient will be able to live with their hip implant before corrective surgery.</p>
                </section>

                <div id="status">You need to enable JavaScript.</div>

                <button type="button" id="start" class="button"> Start </button>

                <div id="progressBar">
                    <div id="actualProgress"></div>
                </div>
            </section>

            <section id="centercontent">
                <section id="data" class="hideContent">
                    <section id="centerNav">
                        <div id="navigationHelp" class="help">
                            <p>The buttons on the top left and top right of the center panel are the navigation buttons.
                                The left button takes you to the previous page (or step, if you will). The Right button
                                takes you all the way back to the start, regardless of where you are in the process.</p>
                        </div>
                        <div id="back" class="navigation">
                            <img id="backimg" src="../static/img/back.png">
                            Back
                        </div>
                        <div id="cancel" class="navigation">
                            Restart
                            <img id="cancelimg" src="../static/img/x.png">
                        </div>
                    </section>
                    <h1 id="resultheader"></h1>

                    <section class="input">
                        <div id="nextStepHelp"  class="help">
                            <p></p>
                        </div>
                        <button id="featurebtn" class="button optional"> ( Optional ) <br/> Select dataset features </button>
                        <button id="dt" class="button"> Run prediction </button>
                    </section>

                    <img src="../static/img/load.gif" id="loadinggif" title="Loading"/>

                    <table id="results_table" class="hideContent"></table>

                    <section id="patientInfoForm" class="hideContent">
                        <div id="infoFormHelp"  class="help">
                            <p>This is the patient information form. The labels on the left hand side of the list detail
                            what information is required, while the boxes on the right hand side are input fields. Click
                            an input field to enter the information required - either you choose between two or more
                            options in a small menu, or else you type in your information as a number.</p>
                        </div>
                        <form action="/updatetarget">
                                <div>
                                    <label for="case"> Has the implant been removed? </label>
                                    <select id="case" name="target" class="patInfo">
                                        <option value="0"> No - still there </option>
                                        <option value="1"> Yes - removed </option>
                                    </select>
                                </div>

                                <div class="hidden">
                                    <label for="cuploose"> Was the cup loose? (if it was removed) </label>
                                    <select id="cuploose" name="target" class="patInfo">
                                        <option value="0"> No </option>
                                        <option value="1"> Yes </option>
                                    </select>
                                </div>

                                <div class="hidden">
                                <label for="stemloose"> Was the stem loose? (if it was removed) </label>
                                    <select id="stemloose" name="target" class="patInfo">
                                        <option value="0"> No </option>
                                        <option value="1"> Yes </option>
                                    </select>
                                </div>

                                <div>
                                    <label for="yearsinvivo"> How many years has the implant lasted, or how long did it last
                                        before removal? </label>
                                    <input id="yearsinvivo" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="cr"> Cr </label>
                                    <input id="cr" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="co"> Co </label>
                                    <input id="co" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="zr"> Zr </label>
                                    <input id="zr" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="ni"> Ni </label>
                                    <input id="ni" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="mb"> Mb </label>
                                    <input id="mb" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="linwear"> Linear wear </label>
                                    <input id="linwear" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="linwearrate"> Linear wear rate </label>
                                    <input id="linwearrate" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="volwear"> Volume wear </label>
                                    <input id="volwear" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="volwearrate"> Volume wear rate </label>
                                    <input id="volwearrate" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="inc"> Inclination </label>
                                    <input id="inc" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="ant"> Anterior Approach </label>
                                    <input id="ant" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="cupx"> Cup X </label>
                                    <input id="cupx" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                                <div>
                                    <label for="cupy"> Cup Y </label>
                                    <input id="cupy" type="number" step="0.01" name="target" class="patInfo">
                                </div>

                            <div>
                                <label for="sex"> Sex / Gender </label>
                                <select id="sex" name="target" class="patInfo">
                                    <option value="0"> Undefined </option>
                                    <option value="1"> Male </option>
                                    <option value="2"> Female </option>
                                </select>
                            </div>
                        </form>
                        <div>
                            <button type="button" id="saveTarget" class="button"> Save patient information </button>
                        </div>
                    </section>

                    <section id="featureWrapper" class="feature hideContent">
                        <div id="featureHelp"  class="help">

                        </div>
                        <ul id="features" class="feature"></ul>
                        <button type="button" id="saveFeatures" class="button feature"> Save </button>
                    </section>

                    <section id="graphFiller" class="hideContent">
                        <div id="graphHelp"  class="help">

                        </div>
                        <button id="graphsbutton" class="button"> More information </button>
                        <button id="r2button" class="hideContent"> R2 score </button>
                        <div id="r2info"> You shouldn't be able to see this. </div>
                        <div id="statsFiller"></div>
                        <div id="graphs"></div>
                    </section>
                </section>

                <section id="patInfoDisplay">
                    <div id="patInfoDisplayButton">
                        <p>Your patient info</p>
                    </div>
                    <div id="patInfoSheet">
                        <p>Information on the current patient</p>
                    </div>
                </section>
            </section>

            <form action="/science">
                <button id="scienceToggle" class="button guitoggle">Science</button>
            </form>

            <section id="help">
                <img id="helpButton" src="">
            </section>
        </section>
    </body>
</html>